<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Eureka Trees</title>

  </head>

  <body>
    {% for tree in trees %}
        <a href="{{ tree }}">Tree {{ loop.index }}</a>
        <br>

    {% endfor %}

  </body>
</html>